.cat-detail-btn {
    height: 40px;
    color: whitesmoke;
    background: 	rgb(11, 12, 12);
    /* background: 	#117DAC;
    background: linear-gradient(#108fc2, #1372a0); */
}

.cat-detail-btn-btn {
    height: 40px;
    color: whitesmoke;
    background: 	#117DAC;
    background: linear-gradient(#108fc2, #1372a0);
}

.nopadding {
    padding: 0 !important;
    padding: 6px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.product-list-row {
    background: white !important;
}

.product-list-row a{
    text-decoration: none;
    text-decoration-color: none;
    color: black;
}

.product-list-row div.product-list:hover{
    border-style: ridge !important;
    background:#f8f9fa !important;
    
}

.product-list{
    height: 300px, auto;
    cursor: pointer;
}

.product-list img{
    height: 100%;
    width: 100%;
}