.main-content{
    height: 40rem;
    background-image: url("https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171__340.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.all-category{
    height: 8rem;
    padding:3rem;
}

.image {
    margin-top: 4rem;
    text-align: center;
}

 *{box-sizing: border-box}

/* slideshow container */
 .slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

/* hide images by default */
.mySlides {
    display: block;
}

/* next and prev buttons */
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;    
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 0px 3px 3px 0px;
    user-select: ease;
}
/* position 'next' button to the right */
.next{
    right: 15%;
    border-radius: 3px 0px 0px 3px;
}
/* design on button hover */
.prev:hover, .next:hover{
    background-color: rgba(134, 127, 127, 0.8);
}
/* caption text*/
.text{
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* number text (1/3) etc */
.numbertext{
    color: #3f3a3a;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* the dots/bullets */
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
/* fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-duration: 6s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
} 