<div class = " text-center">
    <h3>add a new product</h3>
    <form class = "">
        <div class = "">
            <label>Name</label>
            <input type = "text"><br>
        </div>
        <div class = "" >
            <label>Category</label>
            <select>
                <option *ngFor = "let category of categories" class = "text-dark bg-dark">
                    {{ category.id }}</option>
            </select>
        </div>
        <div class = "">
            <label>Quantity</label>
            <input type = "text"><br>
        </div>
        <div class = "">
            <label>Price</label>
            <input type = "text"><br>
        </div>
        <div>
            <label>Image URL</label>
            <input type="text" placeholder="image url here">
        </div>
        <button>create</button>
    </form>
</div>
