/* .product-table{ */
    
/* } */

/* styles welcome message on product list component */
.productlist-message{
    font-family: Lucida Calligraphy;
    color: rgb(53, 2, 9);
    margin-top: 1rem;
    font-size: 2rem;
}

/* products image */
#product-Thumbnail{
    width:10rem;
    height:10rem;
}
/* styles the product content */
.product-Content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: darkblue;
    margin:0 auto;
}