
<!-- displays product list in a tabular manner -->
<div class = "container-fluid bg-light">
    <marquee>
        <h4 class = "text-capitalize productlist-message bg-light">our complete list of products</h4>
    </marquee>
    
    <table class = "table bg-light">
        <thead>
                <th>Thumbnail</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price/FCFA</th>
                <th><a routerLink = "/add-product" class="btn btn-primary">Add Product</a></th>
        </thead>
        <tbody class = "text-primary">
            <tr *ngFor = "let product of products">
                <td><a (click) = "viewProductDetails($event)">
                    <img [src] = "product.imageUrl" id = "product-Thumbnail">
                </a></td>
                <td class = "product-Content">{{product.name}}</td>
                <td class = "product-Content">{{product.category.name}}</td>
                <td class = "product-Content">{{product.quantity}}</td>
                <td class = "product-Content">{{product.price}}</td> 
                <td>
                    <button class = "text-danger">
                        <i class = "fa fa-minus" data-toggle = "tooltip" title="delete product"></i>
                    </button>
                    <button class = "text-success ml-5">
                        <i class = "fa fa-edit" data-toggle="tooltip" title="edit product"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

