.category-carousel-row{
    max-height: 350px; 
    min-height: 200px;
 }

 #addCategoryBtn {
    color: whitesmoke;
     background: black;
     background: linear-gradient( #213239, rgb(177, 172, 172))
 }


  /* Make the image fully responsive */
  .carousel-inner img {
    width: 70%;
    margin-left: 15%;
     margin-right: 15%;
  }
  
 #carousel-image{
     /* width: 70%;
     margin-left: 15%;
     margin-right: 15%; */
 }

 .nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }