<div class="container-fluid">
    <!-- display Carousel of categories -->

    <div class="row category-carousel-row">
        <div class="col-sm col-md col-lg bg-light">
                <div id="category-carousel" class="carousel slide shadow my-1" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- <ul class="carousel-indicators">
                        <li data-target="#category-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#category-carousel" data-slide-to="1"></li>
                    </ul> -->
                    
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img 
                                class="d-block img-responsive" 
                                id="carousel-image"
                                src="https://media.glamour.com/photos/5cdb2ce572cb4e7a10187bd2/16:9/w_1600%2Cc_limit/0515_selftanner_lede.jpg" 
                                alt="" width="1000" height="350">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>...</h5>
                                <p>...</p>
                            </div>
                        </div>                        
                        <div class="carousel-item" *ngFor="let image of catProducts">
                            <img class="d-block img-responsive"
                                id="carousel-image" 
                                src="{{image.imageUrl}}" 
                                alt="{{image.name}}" height="350">  
                                <div class="carousel-caption d-none d-md-block" 
                                style="color: rgb(0, 0, 0);">
                                <h5>{{image.category.name}}</h5>
                                <p>{{image.name}}</p>
                            </div>                          
                        </div>
                    </div>
                    
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#category-carousel" data-slide="prev">
                            <i class="fa fa-angle-left" style="font-size: 50px; color: black;"></i>
                    </a>
                    <a class="carousel-control-next" href="#category-carousel" data-slide="next">
                        <i class="fa fa-angle-right" style="font-size: 50px; color: black;"></i>
                    </a>
                </div>
        </div>
    </div>
    <br>
    <!-- Button to Open the Modal create Category -->        
    <button type="button" class="btn form-control"
                data-toggle="modal" 
                (click)="onCreateCategory()"
                id="addCategoryBtn">
                <i class="fa fa-plus-circle mr-1"></i>New Category
    </button>    
    <br>
    <br>
      

    <main>
        <!-- <router-outlet [catProducts]="catProducts"></router-outlet> -->
        <router-outlet></router-outlet>
    </main>

    <br><hr><br>
    
    
</div>
