.body{
    margin-left: 300px;
    max-width: 800px;
    background-color: rgb(240,245,247);
    padding-bottom: 10px;
    border-radius: 10px;
}
.sign{
    text-align: center; 
    background-color: rgb(5, 104, 185); 
    color: white;
    padding: 15px 150px 15px 150px;
    border-radius: 5px;

}