<div class="container-fluid">
    <!-- End of Carousel -->
    
    <!-- Displaying Categories -->
    <div class="row category-card-section">
        <div class="card-deck">
            <div class="card bg-light" 
                style="width:250px"
                *ngFor="let category of categories; let i=index;">

                <div class="card-body">
                        <img  class="card-img-top" 
                        src="https://cdn.pixabay.com/photo/2014/10/05/22/39/real-estate-475875__340.jpg" 
                        alt="Card image">
                    <p class="card-title mt-3 category-name">{{category.name}}</p>
                    <p class="card-text">{{singleImage.id}}</p>
                    <a class="btn btn-primary stretched-link rounded-0"
                        id="view-catDetail-button"
                        [routerLink]="['/category', category.id, category.name]"
                        >
                        <i class="fa fa-eye mx-1" style="font-size:20px"></i>Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
