body {
	width: 100%;
	/* height: 100%; */
}

.footer {
	height:210px ;
	padding-bottom: 3rem;
	position: relative;
	width: 100%;
  color:#fff;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
    background: #213239;
    
}


.footer h3 {
	border-bottom: 1px solid #BAC1C8;
  color:#fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 20px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D;
    color:#fff;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.subscribe-btn .btn {
	border: medium none;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
	margin-top:10px;
	background: #0f6794;
	background: linear-gradient(#1690c6, #0f6794);
	
}
.subscribe-btn {
	overflow: hidden;
}

.social li {
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #4c6c8b;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
    background:#213239;
    /* background:#40E0D0; */
    /* background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); */
    /* background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); */
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
    color:#fff;
}


