<div class = "container-fluid bg-light">
    <div class = "row row-styles">
        <div class = "col-sm-2"></div>
        <div class = "col-sm-8 form-div">
            <h3 class = "text-capitalize">Edit product</h3>
            <div class="alert alert-success alert-dismissible m-2" *ngIf="dataSaved && !Error">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ successMessage }}
            </div> 
            <div class="alert alert-danger alert-dismissible m-2" *ngIf="Error">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <h2>Opps an Error Occured</h2>
                <h4>Please Check Your internet Connection</h4>
                <p>Status: {{ Error.status}}</p>
                <p>Message: {{Error.message}}</p>
                <button class="btn btn-danger mt-2" (click)="onHandleError()">Okay</button>
            </div>
            <form class = "form-group" (ngSubmit) = "onUpdateProduct(formdata.value)" #formdata = "ngForm">
                <div class = "form-group">
                    <label>Name</label>
                    <input 
                    type = "text" 
                    class = "form-control" 
                    [(ngModel)] = "productName"
                    name = "name">
                </div>
                <div class = "form-group">
                    <label>Category</label>
                    <select 
                    class = "form-control text-center" 
                    [ngModel] = "categoryID"
                    name = "categoryselected">
                    <option value="" selected disabled>-- Select a Category --</option>
                        <option  *ngFor = "let category of categories " 
                            class = "text-dark"
                            [value]="category.id">
                        {{category.name}}
                        </option>
                    </select>
                </div>
                <div class = "form-group">
                    <label>Quantity</label>
                    <input 
                    type = "text" 
                    class = "form-control" 
                    ngModel 
                    name = "quantity">
                </div>
                <div class = "form-group">
                    <label>Price</label>
                    <input 
                    type = "text" 
                    class = "form-control" 
                    ngModel 
                    name = "price">
                </div>
                <div class="form-group">
                    <label>Image URL</label>
                    <input 
                    type="text" 
                    placeholder="image url here" 
                    class = "form-control"
                    ngModel 
                    name = "url">
                </div>
                <button class = "btn btn-primary" type = "submit">Update</button>
            </form>
            
        </div>
        <div class = "col-sm-2"></div>
    </div>
</div>
