<!-- the to header to diplay logo and search -->
<div class="d-flex top-header bg-light">
    <div class="p-2 mr-auto">
        <img src="/assets/images/cropped-gg.png" alt="GG-logo" style="width: 200px;">
    </div>
    <div class="p-2 mr-4">
        <form class="form-inline mt-3 search-form" action="">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search" name="product.name">
                <div class="input-group-append">
                    <span class="input-group-text">{{componentName}}</span>
                    <!-- <button class="btn btn-primary" type="button">OK</button> -->
                    
                    <button class="btn btn-success" type="submit">Search</button>
                   
                </div> 
            </div> <a routerLink="/log-in">Log In</a><a routerLink="/sign-up">Sign Up</a>
        </form>
    </div>  
    <!--<div class="p-2 mt-3 mx-4 user-account">
        <a href="#">
            <i class="fa fa-user" style="font-size:29px"></i>
            User
        </a>
    </div>  
</div>-->
<!-- End of Top Header -->
